<div data-role="page" id="home">
  <div data-role="header">
    <h1>xCurrency</h1>
    <a href="#options" data-corners="false" data-transition="none" class="ui-btn-right">Options</a>
    <a href="#about" data-corners="false" data-transition="none" class="ui-btn-left">About</a>
  </div>
  <div data-role="content">
    <ul id="currencies" data-role="listview">
      <% for currency in @currencies.values.flatten %>
        <li id="<%= currency %>">
          <div class="inline">
            <%= image_tag "#{currency}.png", :size => "48x48" %>
          </div>
          <label for="<%= currency %>"><%= currency.upcase %></label>
          <div class="inline">
            <input type="number" name="<%= currency %>" class="center">
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="center" data-position="fixed" style="height:90px;background-color:#eee">
    <div style="margin-top:10px">
      <span style="display:inline-block;height:20px;vertical-align:top">
      <a href="https://twitter.com/share" class="twitter-share-button"
        data-url="http://www.xcurrency.info"
        data-text="#xCurrency: easy to use currency convertor that looks up multiple currencies instantly">
        Tweet</a></span>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <span class="fb-like" data-href="http://www.xcurrency.info" data-send="false"
        data-layout="button_count" data-width="75" data-show-faces="false"></span>
    </div>
    <div style="margin-top:10px">
      <script type="text/javascript"><!--
        google_ad_client = "ca-pub-3913702637460425";
        /* xcurrency */
        google_ad_slot = "6999485615";
        google_ad_width = 320;
        google_ad_height = 50;
        //-->
      </script>
      <script type="text/javascript"
              src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
    </div>
  </div>
</div>
<div data-role="page" id="options">
  <div data-role="header">
    <h1>Options</h1>
    <a data-rel="back" data-corners="false" data-transition="none" href="#home"
       class="ui-btn-right">Back</a>
  </div>
  <div data-role="content">
    <% for group, list in @currencies %>
      <div><%= group %></div>
      <div data-role="controlgroup" data-corners="false">
        <% for currency in list %>
          <label data-corners="false" data-iconpos="right">
            <div class="inline" style="height:41px;margin:-9px 20px 0 0;overflow:hidden">
              <%= image_tag "#{currency}.png", :size => "48x48" %>
            </div>
            <%= currency.upcase %>
            <input class="inline" type="checkbox" id="<%= currency %>_chk" name="<%= currency %>">
          </label>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div data-role="page" id="about">
  <div data-role="header">
    <h1>About</h1>
    <a data-rel="back" data-corners="false" data-transition="none" href="#home"
       class="ui-btn-left">Back</a>
  </div>
  <div data-role="content">
    <p>Data powered by Yahoo!.</p>
    <p>For Android phone, <a href="https://play.google.com/store/apps/details?id=info.xcurrency">download app here</a>.</p>
    <p>For any other mobile phone, save <a href="http://www.xcurrency.info">xcurrency.info</a> to your home screen like an app.</p>
    <p>For Chrome browser, <a href="https://chrome.google.com/webstore/detail/xcurrency/gkegldnjiebaagebdcoglmebpgbaljdn">install the extension</a>.</p>
    <p>by <a href="http://twitter.com/melvinxie">@melvinxie</a>.</p>
  </div>
</div>
