<div data-role="page" id="home">
  <div data-role="header">
    <h1>Currency Rate</h1>
    <a href="#options" data-corners="false" data-transition="none" class="ui-btn-right">Options</a>
  </div>
  <div data-role="content" style="min-height:300px">
    <ul id="currencies" data-role="listview">
      <% for currency in @currencies.values.flatten %>
        <li id="<%= currency %>">
          <div class="inline">
            <%= image_tag "#{currency}.png" %>
          </div>
          <label for="<%= currency %>"><%= currency.upcase %></label>
          <div class="inline">
            <input type="number" name="<%= currency %>" value="">
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div style="text-align:center">
    <script type="text/javascript"><!--
      google_ad_client = "ca-pub-3913702637460425";
      /* xcurrency */
      google_ad_slot = "6999485615";
      google_ad_width = 320;
      google_ad_height = 50;
      //-->
    </script>
    <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div>
</div>
<div data-role="page" id="options">
  <div data-role="header">
    <h1>Options</h1>
    <a data-rel="back" data-corners="false" data-transition="none" href="#home"
       class="ui-btn-right">Back</a>
  </div>
  <div data-role="content">
    <% for group, list in @currencies %>
      <div><%= group %></div>
      <div data-role="controlgroup" data-corners="false">
        <% for currency in list %>
          <label data-corners="false" data-iconpos="right">
            <div class="inline" style="height:41px;margin:-9px 20px 0 0;overflow:hidden">
              <%= image_tag "#{currency}.png" %>
            </div>
            <%= currency.upcase %>
            <input class="inline" type="checkbox" id="<%= currency %>_chk" name="<%= currency %>">
          </label>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
